In [27]:
import numpy as np
import tensorflow as tf
import pickle
import pandas as pd

In [28]:
X_test = pickle.load(open("X_test.pkl", "rb"))
X_labels = pickle.load(open("X_labels.pkl", "rb"))

In [29]:
model = tf.keras.models.load_model("models/6.h5")

In [30]:
model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization_5 (Normalizat  (None, 638)              1277
 ion)

 dense_36 (Dense)            (None, 256)               163584

 batch_normalization_27 (Bat  (None, 256)              1024
 chNormalization)

 dropout_27 (Dropout)        (None, 256)               0

 dense_37 (Dense)            (None, 128)               32896

 batch_normalization_28 (Bat  (None, 128)              512
 chNormalization)

 dropout_28 (Dropout)        (None, 128)               0

 dense_38 (Dense)            (None, 64)                8256

 batch_normalization_29 (Bat  (None, 64)               256
 chNormalization)

 dropout_29 (Dropout)        (None, 64)                0

 dense_39 (Dense)            (None, 11)                715

=================================================================
Total params: 208,520
Trainable params: 206,347
Non-trainable params: 2,173
_________________________________________________________________

In [31]:
predictions = model.predict(X_test)

In [32]:
predictions_np = pd.Series(np.argmax(predictions, axis=1))
predictions_np.head()

0    2
1    8
2    8
3    4
4    4
dtype: int64

In [33]:
test = pd.read_csv("dataset/FIFA_test.csv")
test.head()

                                          player_ids
0  [238577, 189730, 212616, 209729, 246565, 23309...
1  [227675, 177793, 199511, 204387, 199964, 24472...
2  [199522, 225810, 227740, 243139, 229771, 18347...
3  [223953, 222399, 231307, 196143, 212814, 24479...
4  [53110, 229137, 213887, 179891, 228595, 211736...

In [34]:
X_labels = pd.DataFrame(X_labels.reshape(1462, 11))
X_labels.head()

,0,1,2,3,4,5,6,7,8,9,10
0,238577,189730,212616,209729,246565,233090,8631,216047,196143,247728,193092
1,227675,177793,199511,204387,199964,244727,176619,169181,207734,211840,242197
2,199522,225810,227740,243139,229771,183475,198970,170084,180403,240904,204555
3,223953,222399,231307,196143,212814,244794,208335,173305,160179,142721,245747
4,53110,229137,213887,179891,228595,211736,243305,228886,212000,233276,244564

In [35]:
preds = X_labels.lookup(predictions_np.index, predictions_np.values)

/tmp/ipykernel_35645/4096135147.py:1: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  preds = X_labels.lookup(predictions_np.index, predictions_np.values)

In [36]:
output = pd.DataFrame({"player_ids": test.player_ids, "most_valued_player_id": np.squeeze(preds)})
output.head()

                                          player_ids  most_valued_player_id
0  [238577, 189730, 212616, 209729, 246565, 23309...                 212616
1  [227675, 177793, 199511, 204387, 199964, 24472...                 207734
2  [199522, 225810, 227740, 243139, 229771, 18347...                 180403
3  [223953, 222399, 231307, 196143, 212814, 24479...                 212814
4  [53110, 229137, 213887, 179891, 228595, 211736...                 228595

In [37]:
output.to_csv("outputs/7.csv", index=False)